body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: blue;
}
img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
a{
    color: red;
    text-decoration: none;
}
